.Tokenomics {
  background: linear-gradient(
    90.28deg,
    #001c80 0.26%,
    #153abf 30.33%,
    #2b59ff 99.79%
  );
  opacity: 0.93;
  padding: 50px 0;
}
.Tokenomics .container .left-side {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.Tokenomics .container .right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.Tokenomics .container .right-side .head h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 72px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #ffffff;
}
.Tokenomics .container .right-side h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #ffffff;
}
.Tokenomics .container .right-side p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
  opacity: 0.7;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.Tokenomics .container .right-side h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  color: #ffffff;
}
